@import "../../assets/styles/mixins";

#header {
  padding-left: 10px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @include screen("mobile") {
    flex-direction: column;
    #header-actions {
      padding-top: 25px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
