@import "../../assets/styles/mixins";

#landing {
  .header-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;

    .title {
      flex: 5;
      display: flex;
      align-items: baseline;
      .count-indicator {
        padding-left: 25px;
      }
    }
    .sorter {
      flex: 1;
      #sorter-menu {
        font-size: 0.88rem;
      }
    }
  }
  .user-card-wrapper {
    padding-top: 20px;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .wrapper {
    padding: 20px 0px;
    display: flex;

    @include screen("tablet") {
      display: block;
    }
  }
}
