#actors {
  display: flex;
  flex-wrap: wrap;

  .actor-img-wrapper {
    margin-right: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }

  .actor-name {
    font-style: normal;
    font-weight: 500;
    font-size: 0.66rem;
    line-height: 1rem;
    text-align: center;
    color: var(--gray-4);
  }
}
