// This holds all the colors used in the application, currently all colors are sequential shades
// of gray

:root {
  --white: #ffffff;
  --black: #000;
  --success: #46b13d;
  --primary: #3860ad;
  --gray-1: #f1f1f1;
  --gray-2: #999999;
  --gray-3: #ebf2ff;
  --gray-4: #666666;
  --gray-5: #f4f4f4;
}
