// This holds all the colors used in the application, currently all colors are sequential shades
// of gray

:root {
  --white: #ffffff;
  --black: #000;
  --sidebar-color: #262626;
  --app-bg-color: #e5e5e5;
}
