@import "./mixins";

// Base font size
:root {
  font-size: 20px;
  @include screen("desktop") {
    font-size: 18px;
  }
  @include screen("tablet") {
    font-size: 16px;
  }
}

body {
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
}

.typ-page-title {
  font-size: 27px;
  line-height: 39px;
  color: #262626;
}

.typ-page-title-info {
  font-size: 16px;
  line-height: 23px;
  color: #262626;
  opacity: 0.3;
}

.typ-title {
  font-size: 16px;
  line-height: 23px;
  color: #333333;
}
.typ-info {
  font-size: 12px;
  line-height: 17px;
  color: #999999;
}

.typ-address {
  font-size: 12px;
  line-height: 17px;
  color: #262626;
}
