#layout {
  min-height: 100%;
  display: flex;

  box-sizing: border-box;

  #content-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--app-bg-color);

    #content {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0px 30px;
      padding-top: 60px;
    }
  }
}
